<div class="home-container d-flex h-100 justify-content-center align-items-center">
  <div class="card">
    <div class="card-header h4">ברוכים הבאים למערכת רישום לקוחות</div>
    <div class="card-body d-flex flex-column align-items-center">
      <div class="pb-2">
      <button class="btn btn-primary" [routerLink]="['../createCustomer']">יצירת לקוח חדש</button>
      </div>
      <div>
      <button class="btn btn-primary"  [routerLink]="['../customersList']">רשימת הלקוחות</button>
      </div>
    </div>
  </div>
</div>
